<div class="w-100" id="cookie-wrapper">
    <div class="align-middle text-center mb-1">
        <small>This website uses cookies to ensure you have the best possible user experience,
            please
            see our <a class="cookie-link" href="../legal/cookies">cookie policy</a> to learn more about the information
            we collect.</small>
        <a class="close" href="#">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
</div>