<!-- Need help sticky button -->
<div class="bubble-container" id="chat-logo">
    <div class="bubble mx-auto shadow">
        <div class="bubble-content">
            <a class="" href="contact">
                <i class="far fa-comment-dots"></i>
                <span class="text-muted pl-1"><b> Need help?</b></span>
            </a>
        </div>
    </div>
</div>