<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=2176243862437674&autoLogAppEvents=1">
</script> -->

<% include cookie %>

<nav id="navbar" class="navbar fixed-top flex-md-nowrap">
    <div class="col logo">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            <img class="logo-img" src="../images/logo.png" id="logo-img" alt="dashbored logo">
        </a>
    </div>
    <ul class="navigation pl-5 my-auto" id="navigation-bar">
        <li><a class="navigation-link" id="navigation-home" href="/">Home</a></li>
        <li class="navigation-link dropdown show-on-hover">
            <a href="/about" id="navigation-about" data-toggle="dropdown" data-hover="dropdown"
                data-animations="fadeInLeft">About <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu shadow-sm" style="width: 600px">
                <div class="row">
                    <div class="col ml-2 mt-1" id="left-dropdown">
                        <div class="dropdown-item pt-3" id="dropdown-about">
                            <a class="h6" href="/about">About</a>
                            <p class="text-muted">Our story, team, goals</p>
                        </div>
                        <div class="dropdown-item pt-3" id="dropdown-customers">
                            <a class="h6" href="/customers">Customers</a>
                            <p class="text-muted">Case studies, testimonials, blogs</p>
                        </div>
                        <div class="dropdown-item pt-3" id="dropdown-partners">
                            <a class="h6" href="/legal/investors">Partners</a>
                            <p class="text-muted">Find or become a partner</p>
                        </div>
                        <div class="dropdown-item pt-3" id="dropdown-awards">
                            <a class="h6" href="/awards">Awards</a>
                            <p class="text-muted">Recognition of our work</p>
                        </div>
                    </div>
                    <div class="vr mr-2 mt-1"></div>
                    <div class="col pl-0" id="right-dropdown">
                        <h4 class="dropdown-header text-uppercase" id="dropdown-about-news">N e w s</h4>
                        <div class="dropdown-item" id="dropdown-about">
                            <a class="" href="#">This is news</a>
                        </div>
                        <div class="dropdown-item" id="dropdown-customers">
                            <a class="" href="#">This is more news</a>
                        </div>
                        <div class="dropdown-item" id="dropdown-partners">
                            <a class="" href="#">Even more news!</a>
                        </div>
                        <div class="dropdown-item" id="dropdown-awards">
                            <a class="" href="#">Some more news again!</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-footer px-4">
                    <div class="clearfix">
                        <span class="float-left">Built by students, for students.</span>
                        <a class="float-right non-a" href="#">Learn more <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </li>
        <li><a class="navigation-link" id="navigation-pricing" href="/pricing">Pricing</a></li>
        <li><a class="navigation-link" id="navigation-docs" href="/customers">Customers</a></li>
        <li><a class="navigation-link" id="navigation-contact" href="/contact">Contact</a></li>
    </ul>
    <div class="col-auto sign-in" id="sign-in">
        <a class="text-muted font-weight-light" href="/sign-in">Sign in</a>
    </div>
    <div class="col-auto get-started">
        <% if(3==4){ %>
        <button class="btn btn-outline-danger get-started-button">
            <a class="mx-3 get-started-text">Welcome back, James</a>
        </button>
        <% } else { %>
        <button class="btn btn-outline-danger get-started-button" href="#" data-toggle="modal"
            data-target="#registerModal">
            <a class="mx-3 get-started-text">Get
                Started</a>
        </button>
        <% } %>
    </div>
</nav>

<% include ../partials/modal.ejs %>
</div>