<!doctype html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <!-- Navbar -->
    <div id="nav">
        <% include ../../partials/nav %>
    </div>

    <div class="container">
        <h1>Open-Source Libraries</h1>
        <hr>
        <h2>Introduction</h2>
        <p>...</p>
        <hr>
        <h2>Front-End</h2>
        <p>...</p>
        <h3>Bootstrap</h3>
    </div>

    <footer id="footer" class="container">
        <% include ../../partials/footer %>
    </footer>

</body>

</html>