<!doctype html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <section id="nav">
        <% include ../../partials/nav %>
    </section>

    <main id="content" class="legal-wrapper">
        <div class="container-fluid">
            <h1 class="h1"><%- title %></h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="list-group shadow-sm" id="fix-nav">
                        <a class="list-group-item">
                            <h5 class="mb-1">Navigation</h5>
                        </a>
                        <a class="list-group-item list-group-item-action" href="#introduction">
                            Introduction</a>
                        <a class="list-group-item list-group-item-action" href="#frontend">Frontend</a>
                        <a class="list-group-item list-group-item-action" href="#middleware">Middleware</a>
                        <a class="list-group-item list-group-item-action" href="#backend">Backend</a>
                        <a class="list-group-item list-group-item-action" href="#other">Other</a>
                        <a class="list-group-item list-group-item-action" href="#glossary">Glossary</a>
                    </div>
                </div>

                <!-- Privacy policy -->
                <div class="col col-9" id="terms-col">
                    <h2 id="introduction">Introduction</h2>
                    <p class="text-muted" id="effective-date">Last updated: 1<sup>st</sup> May 2020</p>
                    <p>...</p>
                    <hr>
                    <h2 id="frontend">Front-End</h2>
                    <p>...</p>
                    <h3>Bootstrap</h3>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <% include ../../partials/footer %>
    </footer>

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $('#fix-nav').addClass('affix');
                $('#fix-nav').scrollspy();
            } else {
                $('#fix-nav').removeClass('affix');
            }
        });
    </script>

</body>

</html>