<!doctype html>
<html lang="en">

<head>
    <% include ../../partials/head %>
</head>

<body data-spy="scroll" data-target="#fix-nav">
    <!-- Navbar -->
    <div id="nav">
        <% include ../../partials/nav %>
    </div>

    <div class="legal-wrapper">
        <div class="container-fluid">
            <h1>User Agreement</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="list-group shadow-sm" id="fix-nav">
                        <a class="list-group-item">
                            <h5 class="mb-1">Navigation</h5>
                        </a>
                        <a class="list-group-item list-group-item-action" href="#introduction">
                            Introduction</a>
                        <a class="list-group-item list-group-item-action" href="#important">Important
                            information</a>
                        <a class="list-group-item list-group-item-action" href="#collected">Collected
                            data</a>
                        <a class="list-group-item list-group-item-action" href="#methods">Methods</a>
                        <a class="list-group-item list-group-item-action" href="#usage">Usage</a>
                        <a class="list-group-item list-group-item-action" href="#disclosures">Disclosures</a>
                        <a class="list-group-item list-group-item-action" href="#transfers">International
                            transfers</a>
                        <a class="list-group-item list-group-item-action" href="#security">Data security</a>
                        <a class="list-group-item list-group-item-action" href="#retention">Data
                            retention</a>
                        <a class="list-group-item list-group-item-action" href="#rights">Legal rights</a>
                        <a class="list-group-item list-group-item-action" href="#glossary">Glossary</a>
                    </div>
                </div>

                <!-- Privacy policy -->
                <div class="col col-9" id="terms-col">
                    <h2 id="introduction">
                        Introduction
                    </h2>
                    <p class="text-muted" id="effective-date">Effective date: 1<sup>st</sup> May 2020</p>
                    <p>
                        Welcome to dashbored's terms and conditions document.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $('#fix-nav').addClass('affix');
                $('#fix-nav').scrollspy();
            } else {
                $('#fix-nav').removeClass('affix');
            }
        });
    </script>

    <!-- Footer -->
    <footer id="footer" class="container">
        <% include ../../partials/footer %>
    </footer>
</body>

</html>