<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!-- Navbar -->
    <div id="nav">
        <% include ../partials/nav %>
    </div>
    <div id="content" class="container">
        <h1 class="h1"><%- title %></h1>
    </div>
    <!-- Footer -->
    <footer id="footer" class="container">
        <% include ../partials/footer %>
    </footer>
</body>