<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <section id="nav">
        <% include ../partials/nav %>
    </section>

    <main id="content" class="container">
        <h1 class="h1"><%- title %></h1>
    </main>

    <footer id="footer">
        <% include ../partials/footer %>
    </footer>
</body>

</html>