<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <section id="nav">
        <% include ../partials/nav %>
    </section>

    <main id="content" class="container">
        <div class="text-center">
            <form class="form-signin">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="h1 mb-4">Forgot Password</h1>

                                <form>
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control"
                                            placeholder="Email address" required autofocus>
                                        <label class="text-left" for="inputEmail">Email address</label>
                                    </div>
                                    <button
                                        class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer id="footer">
        <% include ../partials/footer %>
    </footer>

</body>

</html>