<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <!-- Navbar -->
    <div id="nav">
        <% include ../partials/nav %>
    </div>

    <div class="space-150"></div>

    <div class="text-center">
        <h1 class="pb-2">Pricing</h1>
        <p class="text-muted">We like to keep things simple around here.</p>
    </div>

    <section class="pricing my-5">
        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#eff2f9" fill-opacity="1"
                    d="M0,96L80,117.3C160,139,320,181,480,186.7C640,192,800,160,960,138.7C1120,117,1280,107,1360,101.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
                </path>
            </svg>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <div class="form-group form-inline my-2">
                                <label class="text-muted pr-3">Annual</label>
                                <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary"
                                    data-offstyle="light" data-width="50" data-height="10" data-size="xs" data-on=" "
                                    data-off=" " data-style="slow">
                                <label class="text-muted pl-3">Monthly</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group form-inline my-2 float-right">
                                <label class="text-muted pr-2">Select currency</label>
                                <a class="dropdown">GBP <i class="fa fa-chevron-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-4">
                    <div class="col-lg-4">
                        <div class="sub card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                <h6 class="card-price text-center">£0<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>1GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li class="text-muted"><span class="fa-li"><i
                                                class="fas fa-times"></i></span>Unlimited
                                        Private Projects</li>
                                    <li class="text-muted"><span class="fa-li"><i
                                                class="fas fa-times"></i></span>Dedicated
                                        Phone Support</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free
                                        Subdomain </li>
                                    <li class="text-muted"><span class="fa-li"><i
                                                class="fas fa-times"></i></span>Monthly
                                        Status Reports</li>
                                </ul><a href="#" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sub card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                                <h6 class="card-price text-center">£5<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5
                                            Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>10GB Storage</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public
                                        Projects </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private
                                        Projects </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone
                                        Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                                    <li class="text-muted"><span class="fa-li"><i
                                                class="fas fa-times"></i></span>Monthly
                                        Status Reports</li>
                                </ul><a href="#" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sub card">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                                <h6 class="card-price text-center">£10<span class="period">/month</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited
                                            Users</strong></li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Storage
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public
                                        Projects </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access
                                    </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private
                                        Projects </li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone
                                        Support</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Free
                                        Subdomain</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status
                                        Reports</li>
                                </ul><a href="#" class="btn btn-block btn-primary text-uppercase">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#eff2f9" fill-opacity="1"
                    d="M0,192L80,170.7C160,149,320,107,480,128C640,149,800,235,960,256C1120,277,1280,235,1360,213.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
                </path>
            </svg>
        </div>

    </section>

    <!-- Footer -->
    <footer id="footer" class="container">
        <% include ../partials/footer %>
    </footer>
</body>



</html>