<!doctype html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <!-- Navbar -->
    <div id="nav">
        <% include ../partials/nav %>
    </div>

    <footer id="footer" class="container">
        <% include ../partials/footer %>
    </footer>